p {
    font-family: "Geo", sans-serif;
}
h1 {
    font-family: 'ZCOOL QingKe HuangYou', sans-serif;
    color: #5e3c71;
}
#nobarsvideo img{
    max-width: 80%;
}
.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
